#naglowek{
    background-color: red;
}
nav{
    background-color: rgba(161, 49, 131, 1);
    
}
.article{
    background-color: brown;
}
.aside1{
    background-color: green;
}
footer{
     background-color: rgba(194, 100, 44, 0.9);
}
nav li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 32%;
}
html, body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    color: yellow;
    width: 100%;
}
a:hover{
    color: green;
    background-color: yellow;
    
}
main{
	display: flex;
}
.article{
	background-color: rgba(161, 137, 35, 1);
	flex: 2;
}
.aside1{
	background-color: rgba(218, 137, 35, 1);
	flex: 1;
}
