#naglowek{
    background-color: red;
}
nav{
    background-color: rgba(161, 49, 131, 1);
    
}
footer{
     background-color: rgba(194, 100, 44, 0.9);
}
article{
    background-color: rgba(161, 137, 35, 1);
}
aside{
    background-color: rgba(218, 137, 35, 1);
}
head{
    margin: 0;
    padding: 0;
}
nav li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 32%;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
h1{
    text-align: center;
    font-size: 115px;
    margin: 0;
    padding: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    color: yellow;
    width: 100%;
}
a:hover{
    color: green;
    background-color: yellow;
    
}
#headingOne, #headingTwo{
    background: red;
}
.card-body{
    background: green;
}

